[Desktop Entry]
Encoding=UTF-8
Name=che_guevara_otp
Exec=che_guevara_otp
Terminal=true
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/Che.svg
